<launch>

  <!-- Motor node -->
  <include file="$(find xycar_motor)/launch/xycar_motor.launch" />

  <!-- LiDAR -->
  <include file="$(find xycar_lidar)/launch/lidar.launch" />

  <!-- USB ??? -->
  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen">
    <param name="video_device"    value="/dev/video0" />
    <param name="image_width"     value="640" />
    <param name="image_height"    value="480" />
    <param name="pixel_format"    value="yuyv" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method"       value="mmap" />
  </node>

  <!-- ??? ?? + ?? ?? ?? ?? -->
  <node name="obstacle_lane_drive"
        pkg="my_lidar"
        type="obstacle_lane_drive.py"
        output="screen" />

</launch>
