#!/usr/bin/env python
PACKAGE = "my_lidar"
from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()
gen.add("angle_offset_deg", double_t, 0,
        "LiDAR angle offset for mounting correction (degrees)",
        0.0, -30.0, 30.0)

exit(gen.generate(PACKAGE, "scan_corrector", "ScanCorrector"))
